@font-face {
    font-family: 'Exo2', sans-serif;
    src: url(fonts/Exo2-VariableFont_wght.ttf);
}

/* Обнуление стилей для начала */
* {
    margin: 0;
    padding: 0;
    font-family: 'Exo2', sans-serif;
    line-height: 1.6;
}

/*noinspection ALL*/
body{
    background-color: var(--tg-theme-secondary-bg-color);
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
    max-width: 600px;
}

/* Стили для основного контента */
main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/*noinspection ALL*/
#username {
    font-size: 20px;
    color: var(--tg-theme-text-color);
}

.user-privet {
    display: flex;
    flex-direction: row;
}

/* Пример стилей для ссылок */
/*noinspection ALL*/
a {
    color: var(--tg-theme-link-color);
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 800px;
}

.grid-item {
    text-align: center;
}

/*noinspection ALL*/
.grid-button {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
    color: var(--tg-theme-button-text-color);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Exo2', sans-serif;
    background: linear-gradient(to bottom right, #00ccff, #003cff);
}

.product-section {
    max-width: 800px;
    margin: 20px auto;
}

.product-section h2 {
    text-align: center;
    color: var(--tg-theme-text-color);
}

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-item {
    text-align: center;
}

.product-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--tg-theme-secondary-bg-color);
}

.product-item p {
    color: var(--tg-theme-text-color);
    font-size: 10px;
}

/* Добавленные стили для круглых кнопок */


.product-category {
    max-width: 800px;
    margin: 20px auto;
}

.product-category h2 {
    text-align: center;
    color: var(--tg-theme-text-color);
}

.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-card {
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 11px 0 var(--tg-theme-bg-color);
    max-width: 160px;
    display: flex;
    flex-direction: column;
}

.product-card img {
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.product-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.product-title {
    font-size: 14px;
    color: var(--tg-theme-hint-color);
}

.product-price {
    font-size: 16px;
    color: var(--tg-theme-text-color);
}

.buy-btn {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 8px 16px;
    border: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-family: 'Exo2', sans-serif;
}

.slider-container {
    margin-bottom: 10px;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 calc(33.333% - 10px); /* 33.333% - 10px, чтобы уместить 3 блока на экране с отступами */
    margin-right: 5px;
    margin-left: 5px;
    height: 100px; /* Высота блока */
    text-align: center;
    line-height: 100px; /* Выравнивание по центру */
    color: var(--tg-theme-text-color);
    font-size: 24px;
    border-radius: 10px;


    --mask: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3e%3cpath d='m512 256-.001 14.18-.001 5.873-.003 4.507-.005 3.799-.005 3.347-.007 3.026-.008 2.782-.009 2.59-.01 2.432-.011 2.3-.013 2.188-.014 2.09-.015 2.005-.016 1.928-.018 1.861-.018 1.799-.02 1.744-.021 1.693-.022 1.646-.024 1.603-.025 1.564-.026 1.526-.027 1.492-.028 1.459-.03 1.429-.03 1.401-.032 1.373-.033 1.348-.035 1.324-.035 1.301-.037 1.279-.038 1.259-.039 1.238-.041 1.22-.041 1.201-.043 1.184-.044 1.168-.045 1.151-.047 1.136-.047 1.121-.049 1.107-.05 1.093-.052 1.08-.052 1.067-.054 1.055-.055 1.042-.056 1.031-.057 1.02-.059 1.009-.059.998-.061.987-.063.978-.063.968-.065.958-.065.95-.067.94-.069.931-.069.923-.071.915-.072.906-.073.898-.074.891-.076.883-.076.876-.078.868-.08.861-.08.855-.082.847-.082.841-.084.835-.086.827-.086.822-.088.816-.089.809-.09.804-.091.797-.093.792-.094.787-.095.781-.096.775-.098.77-.098.765-.1.76-.101.755-.103.749-.104.745-.104.74-.106.735-.108.731-.108.726-.11.721-.111.717-.112.712-.114.708-.114.704-.116.7-.117.695-.119.692-.119.687-.121.683-.122.679-.124.676-.124.671-.126.668-.127.664-.128.66-.13.656-.131.653-.132.649-.133.646-.134.642-.136.639-.137.635-.138.632-.14.629-.14.625-.142.622-.143.619-.145.615-.146.613-.147.609-.148.606-.149.603-.151.6-.152.597-.153.593-.155.591-.155.588-.157.585-.158.582-.16.58-.161.576-.162.574-.163.571-.165.568-.165.565-.167.563-.169.559-.169.558-.171.554-.172.552-.174.55-.174.546-.176.545-.178.541-.178.539-.18.537-.181.534-.182.532-.184.529-.185.527-.186.524-.187.522-.189.519-.19.517-.192.515-.192.513-.194.51-.195.508-.197.505-.197.504-.2.501-.2.498-.202.497-.202.494-.205.492-.205.49-.207.488-.208.486-.21.483-.211.482-.212.479-.213.477-.215.475-.216.473-.217.47-.219.469-.22.467-.221.465-.223.462-.224.461-.225.458-.226.457-.228.454-.229.453-.231.451-.232.448-.233.447-.235.445-.236.443-.237.441-.239.439-.239.437-.242.435-.242.433-.244.432-.246.429-.246.428-.248.426-.25.424-.251.422-.252.421-.253.418-.255.417-.256.415-.258.413-.259.411-.26.41-.262.408-.263.406-.264.404-.266.402-.267.401-.269.399-.27.397-.271.396-.273.394-.274.392-.276.39-.277.389-.279.387-.279.385-.282.384-.282.382-.284.38-.286.379-.287.377-.288.375-.29.374-.291.372-.293.37-.294.369-.295.367-.297.366-.298.363-.3.363-.301.36-.303.359-.304.358-.306.356-.307.354-.309.353-.31.351-.311.349-.313.348-.315.347-.316.344-.317.344-.319.341-.32.341-.322.338-.324.337-.325.336-.326.334-.328.333-.33.33-.33.33-.333.328-.334.326-.336.325-.337.324-.338.322-.341.32-.341.319-.344.317-.344.316-.347.315-.348.313-.349.311-.351.31-.353.309-.354.307-.356.306-.358.304-.359.303-.36.301-.363.3-.363.298-.366.297-.367.295-.369.294-.37.293-.372.291-.374.29-.375.288-.377.287-.379.286-.38.284-.382.282-.384.282-.385.279-.387.279-.389.277-.39.276-.392.274-.394.273-.396.271-.397.27-.399.269-.401.267-.402.266-.404.264-.406.263-.408.262-.41.26-.411.259-.413.258-.415.256-.417.255-.418.253-.421.252-.422.251-.424.25-.426.248-.428.246-.429.246-.432.244-.433.242-.435.242-.437.239-.439.239-.441.237-.443.236-.445.235-.447.233-.448.232-.451.231-.453.229-.454.228-.457.226-.458.225-.461.224-.462.223-.465.221-.467.22-.469.219-.47.217-.473.216-.475.215-.477.213-.479.212-.482.211-.483.21-.486.208-.488.207-.49.205-.492.205-.494.202-.497.202-.498.2-.501.2-.504.197-.505.197-.508.195-.51.194-.513.192-.515.192-.517.19-.519.189-.522.187-.524.186-.527.185-.529.184-.532.182-.534.181-.537.18-.539.178-.541.178-.545.176-.546.174-.55.174-.552.172-.554.171-.558.169-.559.169-.563.167-.565.165-.568.165-.571.163-.574.162-.576.161-.58.16-.582.158-.585.157-.588.155-.591.155-.593.153-.597.152-.6.151-.603.149-.606.148-.609.147-.613.146-.615.145-.619.143-.622.142-.625.14-.629.14-.632.138-.635.137-.639.136-.642.134-.646.133-.649.132-.653.131-.656.13-.66.128-.664.127-.668.126-.671.124-.676.124-.679.122-.683.121-.687.119-.692.119-.695.117-.7.116-.704.114-.708.114-.712.112-.717.111-.721.11-.726.108-.731.108-.735.106-.74.104-.745.104-.749.103-.755.101-.76.1-.765.098-.77.098-.775.096-.781.095-.787.094-.792.093-.797.091-.804.09-.809.089-.816.088-.822.086-.827.086-.835.084-.841.082-.847.082-.855.08-.861.08-.868.078-.876.076-.883.076-.891.074-.898.073-.906.072-.915.071-.923.069-.931.069-.94.067-.95.065-.958.065-.968.063-.978.063-.987.061-.998.059-1.009.059-1.02.057-1.031.056-1.042.055-1.055.054-1.067.052-1.08.052-1.093.05-1.107.049-1.121.047-1.136.047-1.151.045-1.168.044-1.184.043-1.201.041-1.22.041-1.238.039-1.259.038-1.279.037-1.301.035-1.324.035-1.348.033-1.373.032-1.401.03-1.429.03-1.459.028-1.492.027-1.526.026-1.564.025-1.603.024-1.646.022-1.693.021-1.744.02-1.799.018-1.861.018-1.928.016-2.005.015-2.09.014-2.188.013-2.3.011-2.432.01-2.59.009-2.782.008-3.026.007-3.347.005-3.799.005-4.507.003-5.873.001L256 512l-14.18-.001-5.873-.001-4.507-.003-3.799-.005-3.347-.005-3.026-.007-2.782-.008-2.59-.009-2.432-.01-2.3-.011-2.188-.013-2.09-.014-2.005-.015-1.928-.016-1.861-.018-1.799-.018-1.744-.02-1.693-.021-1.646-.022-1.603-.024-1.564-.025-1.526-.026-1.492-.027-1.459-.028-1.429-.03-1.401-.03-1.373-.032-1.348-.033-1.324-.035-1.301-.035-1.279-.037-1.259-.038-1.238-.039-1.22-.041-1.201-.041-1.184-.043-1.168-.044-1.151-.045-1.136-.047-1.121-.047-1.107-.049-1.093-.05-1.08-.052-1.067-.052-1.055-.054-1.042-.055-1.031-.056-1.02-.057-1.009-.059-.998-.059-.987-.061-.978-.063-.968-.063-.958-.065-.95-.065-.94-.067-.931-.069-.923-.069-.915-.071-.906-.072-.898-.073-.891-.074-.883-.076-.876-.076-.868-.078-.861-.08-.855-.08-.847-.082-.841-.082-.835-.084-.827-.086-.822-.086-.816-.088-.809-.089-.804-.09-.797-.091-.792-.093-.787-.094-.781-.095-.775-.096-.77-.098-.765-.098-.76-.1-.755-.101-.749-.103-.745-.104-.74-.104-.735-.106-.731-.108-.726-.108-.721-.11-.717-.111-.712-.112-.708-.114-.704-.114-.7-.116-.695-.117-.692-.119-.687-.119-.683-.121-.679-.122-.676-.124-.671-.124-.668-.126-.664-.127-.66-.128-.656-.13-.653-.131-.649-.132-.646-.133-.642-.134-.639-.136-.635-.137-.632-.138-.629-.14-.625-.14-.622-.142-.619-.143-.615-.145-.613-.146-.609-.147-.606-.148-.603-.149-.6-.151-.597-.152-.593-.153-.591-.155-.588-.155-.585-.157-.582-.158-.58-.16-.576-.161-.574-.162-.571-.163-.568-.165-.565-.165-.563-.167-.559-.169-.558-.169-.554-.171-.552-.172-.55-.174-.546-.174-.545-.176-.541-.178-.539-.178-.537-.18-.534-.181-.532-.182-.529-.184-.527-.185-.524-.186-.522-.187-.519-.189-.517-.19-.515-.192-.513-.192-.51-.194-.508-.195-.505-.197-.504-.197-.501-.2-.498-.2-.497-.202-.494-.202-.492-.205-.49-.205-.488-.207-.486-.208-.483-.21-.482-.211-.479-.212-.477-.213-.475-.215-.473-.216-.47-.217-.469-.219-.467-.22-.465-.221-.462-.223-.461-.224-.458-.225-.457-.226-.454-.228-.453-.229-.451-.231-.448-.232-.447-.233-.445-.235-.443-.236-.441-.237-.439-.239-.437-.239-.435-.242-.433-.242-.432-.244-.429-.246-.428-.246-.426-.248-.424-.25-.422-.251-.421-.252-.418-.253-.417-.255-.415-.256-.413-.258-.411-.259-.41-.26-.408-.262-.406-.263-.404-.264-.402-.266-.401-.267-.399-.269-.397-.27-.396-.271-.394-.273-.392-.274-.39-.276-.389-.277-.387-.279-.385-.279-.384-.282-.382-.282-.38-.284-.379-.286-.377-.287-.375-.288-.374-.29-.372-.291-.37-.293-.369-.294-.367-.295-.366-.297-.363-.298-.363-.3-.36-.301-.359-.303-.358-.304-.356-.306-.354-.307-.353-.309-.351-.31-.349-.311-.348-.313-.347-.315-.344-.316-.344-.317-.341-.319-.341-.32-.338-.322-.337-.324-.336-.325-.334-.326-.333-.328-.33-.33-.33-.33-.328-.333-.326-.334-.325-.336-.324-.337-.322-.338-.32-.341-.319-.341-.317-.344-.316-.344-.315-.347-.313-.348-.311-.349-.31-.351-.309-.353-.307-.354-.306-.356-.304-.358-.303-.359-.301-.36-.3-.363-.298-.363-.297-.366-.295-.367-.294-.369-.293-.37-.291-.372-.29-.374-.288-.375-.287-.377-.286-.379-.284-.38-.282-.382-.282-.384-.279-.385-.279-.387-.277-.389-.276-.39-.274-.392-.273-.394-.271-.396-.27-.397-.269-.399-.267-.401-.266-.402-.264-.404-.263-.406-.262-.408-.26-.41-.259-.411-.258-.413-.256-.415-.255-.417-.253-.418-.252-.421-.251-.422-.25-.424-.248-.426-.246-.428-.246-.429-.244-.432-.242-.433-.242-.435-.239-.437-.239-.439-.237-.441-.236-.443-.235-.445-.233-.447-.232-.448-.231-.451-.229-.453-.228-.454-.226-.457-.225-.458-.224-.461-.223-.462-.221-.465-.22-.467-.219-.469-.217-.47-.216-.473-.215-.475-.213-.477-.212-.479-.211-.482-.21-.483-.208-.486-.207-.488-.205-.49-.205-.492-.202-.494-.202-.497-.2-.498-.2-.501-.197-.504-.197-.505-.195-.508-.194-.51-.192-.513-.192-.515-.19-.517-.189-.519-.187-.522-.186-.524-.185-.527-.184-.529-.182-.532-.181-.534-.18-.537-.178-.539-.178-.541-.176-.545-.174-.546-.174-.55-.172-.552-.171-.554-.169-.558-.169-.559-.167-.563-.165-.565-.165-.568-.163-.571-.162-.574-.161-.576-.16-.58-.158-.582-.157-.585-.155-.588-.155-.591-.153-.593-.152-.597-.151-.6-.149-.603-.148-.606-.147-.609-.146-.613-.145-.615-.143-.619-.142-.622-.14-.625-.14-.629-.138-.632-.137-.635-.136-.639-.134-.642-.133-.646-.132-.649-.131-.653-.13-.656-.128-.66-.127-.664-.126-.668-.124-.671-.124-.676-.122-.679-.121-.683-.119-.687-.119-.692-.117-.695-.116-.7-.114-.704-.114-.708-.112-.712-.111-.717-.11-.721-.108-.726-.108-.731-.106-.735-.104-.74-.104-.745-.103-.749-.101-.755-.1-.76-.098-.765-.098-.77-.096-.775-.095-.781-.094-.787-.093-.792-.091-.797-.09-.804-.089-.809-.088-.816-.086-.822-.086-.827-.084-.835-.082-.841-.082-.847-.08-.855-.08-.861-.078-.868-.076-.876-.076-.883-.074-.891-.073-.898-.072-.906-.071-.915-.069-.923-.069-.931-.067-.94-.065-.95-.065-.958-.063-.968-.063-.978-.061-.987-.059-.998-.059-1.009-.057-1.02-.056-1.031-.055-1.042-.054-1.055-.052-1.067-.052-1.08-.05-1.093-.049-1.107-.047-1.121-.047-1.136-.045-1.151-.044-1.168-.043-1.184-.041-1.201-.041-1.22-.039-1.238-.038-1.259-.037-1.279-.035-1.301-.035-1.324-.033-1.348-.032-1.373-.03-1.401-.03-1.429-.028-1.459-.027-1.492-.026-1.526-.025-1.564-.024-1.603-.022-1.646-.021-1.693-.02-1.744-.018-1.799-.018-1.861-.016-1.928-.015-2.005-.014-2.09-.013-2.188-.011-2.3-.01-2.432-.009-2.59-.008-2.782-.007-3.026-.005-3.347-.005-3.799-.003-4.507-.001-5.873L0 256l.001-14.18.001-5.873.003-4.507.005-3.799.005-3.347.007-3.026.008-2.782.009-2.59.01-2.432.011-2.3.013-2.188.014-2.09.015-2.005.016-1.928.018-1.861.018-1.799.02-1.744.021-1.693.022-1.646.024-1.603.025-1.564.026-1.526.027-1.492.028-1.459.03-1.429.03-1.401.032-1.373.033-1.348.035-1.324.035-1.301.037-1.279.038-1.259.039-1.238.041-1.22.041-1.201.043-1.184.044-1.168.045-1.151.047-1.136.047-1.121.049-1.107.05-1.093.052-1.08.052-1.067.054-1.055.055-1.042.056-1.031.057-1.02.059-1.009.059-.998.061-.987.063-.978.063-.968.065-.958.065-.95.067-.94.069-.931.069-.923.071-.915.072-.906.073-.898.074-.891.076-.883.076-.876.078-.868.08-.861.08-.855.082-.847.082-.841.084-.835.086-.827.086-.822.088-.816.089-.809.09-.804.091-.797.093-.792.094-.787.095-.781.096-.775.098-.77.098-.765.1-.76.101-.755.103-.749.104-.745.104-.74.106-.735.108-.731.108-.726.11-.721.111-.717.112-.712.114-.708.114-.704.116-.7.117-.695.119-.692.119-.687.121-.683.122-.679.124-.676.124-.671.126-.668.127-.664.128-.66.13-.656.131-.653.132-.649.133-.646.134-.642.136-.639.137-.635.138-.632.14-.629.14-.625.142-.622.143-.619.145-.615.146-.613.147-.609.148-.606.149-.603.151-.6.152-.597.153-.593.155-.591.155-.588.157-.585.158-.582.16-.58.161-.576.162-.574.163-.571.165-.568.165-.565.167-.563.169-.559.169-.558.171-.554.172-.552.174-.55.174-.546.176-.545.178-.541.178-.539.18-.537.181-.534.182-.532.184-.529.185-.527.186-.524.187-.522.189-.519.19-.517.192-.515.192-.513.194-.51.195-.508.197-.505.197-.504.2-.501.2-.498.202-.497.202-.494.205-.492.205-.49.207-.488.208-.486.21-.483.211-.482.212-.479.213-.477.215-.475.216-.473.217-.47.219-.469.22-.467.221-.465.223-.462.224-.461.225-.458.226-.457.228-.454.229-.453.231-.451.232-.448.233-.447.235-.445.236-.443.237-.441.239-.439.239-.437.242-.435.242-.433.244-.432.246-.429.246-.428.248-.426.25-.424.251-.422.252-.421.253-.418.255-.417.256-.415.258-.413.259-.411.26-.41.262-.408.263-.406.264-.404.266-.402.267-.401.269-.399.27-.397.271-.396.273-.394.274-.392.276-.39.277-.389.279-.387.279-.385.282-.384.282-.382.284-.38.286-.379.287-.377.288-.375.29-.374.291-.372.293-.37.294-.369.295-.367.297-.366.298-.363.3-.363.301-.36.303-.359.304-.358.306-.356.307-.354.309-.353.31-.351.311-.349.313-.348.315-.347.316-.344.317-.344.319-.341.32-.341.322-.338.324-.337.325-.336.326-.334.328-.333.33-.33.33-.33.333-.328.334-.326.336-.325.337-.324.338-.322.341-.32.341-.319.344-.317.344-.316.347-.315.348-.313.349-.311.351-.31.353-.309.354-.307.356-.306.358-.304.359-.303.36-.301.363-.3.363-.298.366-.297.367-.295.369-.294.37-.293.372-.291.374-.29.375-.288.377-.287.379-.286.38-.284.382-.282.384-.282.385-.279.387-.279.389-.277.39-.276.392-.274.394-.273.396-.271.397-.27.399-.269.401-.267.402-.266.404-.264.406-.263.408-.262.41-.26.411-.259.413-.258.415-.256.417-.255.418-.253.421-.252.422-.251.424-.25.426-.248.428-.246.429-.246.432-.244.433-.242.435-.242.437-.239.439-.239.441-.237.443-.236.445-.235.447-.233.448-.232.451-.231.453-.229.454-.228.457-.226.458-.225.461-.224.462-.223.465-.221.467-.22.469-.219.47-.217.473-.216.475-.215.477-.213.479-.212.482-.211.483-.21.486-.208.488-.207.49-.205.492-.205.494-.202.497-.202.498-.2.501-.2.504-.197.505-.197.508-.195.51-.194.513-.192.515-.192.517-.19.519-.189.522-.187.524-.186.527-.185.529-.184.532-.182.534-.181.537-.18.539-.178.541-.178.545-.176.546-.174.55-.174.552-.172.554-.171.558-.169.559-.169.563-.167.565-.165.568-.165.571-.163.574-.162.576-.161.58-.16.582-.158.585-.157.588-.155.591-.155.593-.153.597-.152.6-.151.603-.149.606-.148.609-.147.613-.146.615-.145.619-.143.622-.142.625-.14.629-.14.632-.138.635-.137.639-.136.642-.134.646-.133.649-.132.653-.131.656-.13.66-.128.664-.127.668-.126.671-.124.676-.124.679-.122.683-.121.687-.119.692-.119.695-.117.7-.116.704-.114.708-.114.712-.112.717-.111.721-.11.726-.108.731-.108.735-.106.74-.104.745-.104.749-.103.755-.101.76-.1.765-.098.77-.098.775-.096.781-.095.787-.094.792-.093.797-.091.804-.09.809-.089.816-.088.822-.086.827-.086.835-.084.841-.082.847-.082.855-.08.861-.08.868-.078.876-.076.883-.076.891-.074.898-.073.906-.072.915-.071.923-.069.931-.069.94-.067.95-.065.958-.065.968-.063.978-.063.987-.061.998-.059 1.009-.059 1.02-.057 1.031-.056 1.042-.055 1.055-.054 1.067-.052 1.08-.052 1.093-.05 1.107-.049 1.121-.047L168.69.87l1.151-.045 1.168-.044 1.184-.043 1.201-.041 1.22-.041 1.238-.039 1.259-.038 1.279-.037 1.301-.035 1.324-.035 1.348-.033 1.373-.032 1.401-.03 1.429-.03 1.459-.028 1.492-.027 1.526-.026 1.564-.025 1.603-.024 1.646-.022 1.693-.021 1.744-.02 1.799-.018 1.861-.018 1.928-.016 2.005-.015 2.09-.014 2.188-.013 2.3-.011 2.432-.01 2.59-.009 2.782-.008 3.026-.007 3.347-.005 3.799-.005 4.507-.003 5.873-.001L256 0l14.18.001 5.873.001 4.507.003 3.799.005 3.347.005 3.026.007 2.782.008 2.59.009 2.432.01 2.3.011 2.188.013 2.09.014 2.005.015 1.928.016 1.861.018 1.799.018 1.744.02 1.693.021 1.646.022 1.603.024 1.564.025 1.526.026 1.492.027 1.459.028 1.429.03 1.401.03 1.373.032 1.348.033 1.324.035 1.301.035 1.279.037 1.259.038 1.238.039 1.22.041 1.201.041 1.184.043 1.168.044 1.151.045 1.136.047 1.121.047 1.107.049 1.093.05 1.08.052 1.067.052 1.055.054 1.042.055 1.031.056 1.02.057 1.009.059.998.059.987.061.978.063.968.063.958.065.95.065.94.067.931.069.923.069.915.071.906.072.898.073.891.074.883.076.876.076.868.078.861.08.855.08.847.082.841.082.835.084.827.086.822.086.816.088.809.089.804.09.797.091.792.093.787.094.781.095.775.096.77.098.765.098.76.1.755.101.749.103.745.104.74.104.735.106.731.108.726.108.721.11.717.111.712.112.708.114.704.114.7.116.695.117.692.119.687.119.683.121.679.122.676.124.671.124.668.126.664.127.66.128.656.13.653.131.649.132.646.133.642.134.639.136.635.137.632.138.629.14.625.14.622.142.619.143.615.145.613.146.609.147.606.148.603.149.6.151.597.152.593.153.591.155.588.155.585.157.582.158.58.16.576.161.574.162.571.163.568.165.565.165.563.167.559.169.558.169.554.171.552.172.55.174.546.174.545.176.541.178.539.178.537.18.534.181.532.182.529.184.527.185.524.186.522.187.519.189.517.19.515.192.513.192.51.194.508.195.505.197.504.197.501.2.498.2.497.202.494.202.492.205.49.205.488.207.486.208.483.21.482.211.479.212.477.213.475.215.473.216.47.217.469.219.467.22.465.221.462.223.461.224.458.225.457.226.454.228.453.229.451.231.448.232.447.233.445.235.443.236.441.237.439.239.437.239.435.242.433.242.432.244.429.246.428.246.426.248.424.25.422.251.421.252.418.253.417.255.415.256.413.258.411.259.41.26.408.262.406.263.404.264.402.266.401.267.399.269.397.27.396.271.394.273.392.274.39.276.389.277.387.279.385.279.384.282.382.282.38.284.379.286.377.287.375.288.374.29.372.291.37.293.369.294.367.295.366.297.363.298.363.3.36.301.359.303.358.304.356.306.354.307.353.309.351.31.349.311.348.313.347.315.344.316.344.317.341.319.341.32.338.322.337.324.336.325.334.326.333.328.33.33.33.33.328.333.326.334.325.336.324.337.322.338.32.341.319.341.317.344.316.344.315.347.313.348.311.349.31.351.309.353.307.354.306.356.304.358.303.359.301.36.3.363.298.363.297.366.295.367.294.369.293.37.291.372.29.374.288.375.287.377.286.379.284.38.282.382.282.384.279.385.279.387.277.389.276.39.274.392.273.394.271.396.27.397.269.399.267.401.266.402.264.404.263.406.262.408.26.41.259.411.258.413.256.415.255.417.253.418.252.421.251.422.25.424.248.426.246.428.246.429.244.432.242.433.242.435.239.437.239.439.237.441.236.443.235.445.233.447.232.448.231.451.229.453.228.454.226.457.225.458.224.461.223.462.221.465.22.467.219.469.217.47.216.473.215.475.213.477.212.479.211.482.21.483.208.486.207.488.205.49.205.492.202.494.202.497.2.498.2.501.197.504.197.505.195.508.194.51.192.513.192.515.19.517.189.519.187.522.186.524.185.527.184.529.182.532.181.534.18.537.178.539.178.541.176.545.174.546.174.55.172.552.171.554.169.558.169.559.167.563.165.565.165.568.163.571.162.574.161.576.16.58.158.582.157.585.155.588.155.591.153.593.152.597.151.6.149.603.148.606.147.609.146.613.145.615.143.619.142.622.14.625.14.629.138.632.137.635.136.639.134.642.133.646.132.649.131.653.13.656.128.66.127.664.126.668.124.671.124.676.122.679.121.683.119.687.119.692.117.695.116.7.114.704.114.708.112.712.111.717.11.721.108.726.108.731.106.735.104.74.104.745.103.749.101.755.1.76.098.765.098.77.096.775.095.781.094.787.093.792.091.797.09.804.089.809.088.816.086.822.086.827.084.835.082.841.082.847.08.855.08.861.078.868.076.876.076.883.074.891.073.898.072.906.071.915.069.923.069.931.067.94.065.95.065.958.063.968.063.978.061.987.059.998.059 1.009.057 1.02.056 1.031.055 1.042.054 1.055.052 1.067.052 1.08.05 1.093.049 1.107.047 1.121.047 1.136.045 1.151.044 1.168.043 1.184.041 1.201.041 1.22.039 1.238.038 1.259.037 1.279.035 1.301.035 1.324.033 1.348.032 1.373.03 1.401.03 1.429.028 1.459.027 1.492.026 1.526.025 1.564.024 1.603.022 1.646.021 1.693.02 1.744.018 1.799.018 1.861.016 1.928.015 2.005.014 2.09.013 2.188.011 2.3.01 2.432.009 2.59.008 2.782.007 3.026.005 3.347.005 3.799.003 4.507.001 5.873L512 256Z'/%3e%3c/svg%3e") 0 0 / 100% 100% no-repeat;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    background: linear-gradient(to bottom right, orange, orangered);

}



.icon-cards {
    position: relative;
    width: 60vw;
    height: 30vw;
    max-width: 380px;
    max-height: 250px;
    margin: 15px;
    color: var(--tg-theme-text-color);
    perspective: 1000px;
    transform-origin: center;
  }
  .icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    -webkit-animation: carousel 20s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
            animation: carousel 20s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
  }
  .icon-cards__content.step-animation {
    -webkit-animation: carousel 18s infinite steps(1) forwards;
            animation: carousel 18s infinite steps(1) forwards;
  }
  .icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 34vw;
    max-width: 380px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transform-origin: center;
  }
  .icon-cards__item:nth-child(1) {
    background: #fdd94f;
    transform: rotateY(0) translateZ(55vw);
  }
  .icon-cards__item:nth-child(2) {
    background: #f87949;
    transform: rotateY(60deg) translateZ(55vw);
  }
  .icon-cards__item:nth-child(3) {
    background: #fbab48;
    transform: rotateY(120deg) translateZ(55vw);
  }
  .icon-cards__item:nth-child(4) {
    background: #48fbb0;
    transform: rotateY(180deg) translateZ(55vw);
  }
  .icon-cards__item:nth-child(5) {
    background: #fb484e;
    transform: rotateY(240deg) translateZ(55vw);
  }
  .icon-cards__item:nth-child(6) {
    background: #48b3fb;
    transform: rotateY(300deg) translateZ(55vw);
  }

  @-webkit-keyframes carousel {
    0%, 16.6% {
        transform: translateZ(-55vw) rotateY(0);
      }
      18%, 32.2% {
        transform: translateZ(-55vw) rotateY(-60deg);
      }
      36%, 49.8% {
        transform: translateZ(-55vw) rotateY(-120deg);
      }
      54%, 66.4% {
        transform: translateZ(-55vw) rotateY(-180deg);
      }
      72%, 83% {
      transform: translateZ(-55vw) rotateY(-240deg);
      }
      90%, 100% {
      transform: translateZ(-55vw) rotateY(-300deg);
      }

  }
  
  @keyframes carousel {
    0%, 16.6% {
        transform: translateZ(-55vw) rotateY(0);
      }
      18%, 32.2% {
        transform: translateZ(-55vw) rotateY(-60deg);
      }
      36%, 49.8% {
        transform: translateZ(-55vw) rotateY(-120deg);
      }
      54%, 66.4% {
        transform: translateZ(-55vw) rotateY(-180deg);
      }
      72%, 83% {
      transform: translateZ(-55vw) rotateY(-240deg);
      }
      90%, 100% {
      transform: translateZ(-55vw) rotateY(-300deg);
      }
  }
  .vertalet{
    display: flex;
    justify-content: center;
  }

  .comment {
    display: flex;
    padding: 5px;
    border-radius: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    object-fit: cover;
}

.comment-content {
    flex: 1;
}

.user-name {
    margin: 0 0 3px;
    font-size: 10px;
}

.photos {
    display: flex;
    margin-bottom: 3px;
}

.photo {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
    object-fit: cover;
}

.comment-text {
    margin: 0;
    font-size: 10px;
}
.user-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.avatar-с {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: row;
}

.user-name {
    padding: 10px;
    font-size: 18px;
    margin: 0;
    color: var(--tg-theme-text-color);
}

.channel-button {
    padding: 10px;
    font-size: 16px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    border-radius: 15px;
    font-family: 'Exo2', sans-serif;
}
.user-tg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#tgLink {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 32px;
    height: 32px;
    background: var(
      --Gray-gradient,
      linear-gradient(302deg, #1c1c1e 0%, #48484a 100%)
    );
  }
  #text_tgLink > p > a {
    color: var(--White, #ececec);
    text-align: center;
  
    /* Default/Bold/Footnote */
    font-family: 'Exo2', sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 18px; /* 138.462% */
    letter-spacing: -0.078px;
  }
  #text_tgLink > p {
    color: #a5a5a5;
    text-align: center;
  
    /* Default/Regular/Caption2 */
    font-family: 'Exo2', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px; /* 118.182% */
    letter-spacing: 0;
  }

  .carousel {
    width: 100%;
    display: block;
    margin: 10px 0 10px 0;
  }
  
  .carousel div {
    width: 100%;
    height: auto;
    text-align: center;
  }

  /* Скрыть кнопки навигации (Next и Previous) в Slick Carousel */
.slick-prev,
.slick-next {
  display: none !important;
}
  
  .block {
    width: 100px; /* Ширина блока */
    height: 100px; /* Высота блока */
    background-color: #ccc; /* Цвет фона блока */
    display: inline-block;
    margin: 10px; /* Отступ между блоками */
    clip-path: path("M 61 0 c 16.0278 0 24.0416 0 29.0208 4.9792 a 17 17 0 0 1 0 0 c 4.9792 4.9792 4.9792 12.9931 4.9792 29.0208 L 95 61 c 0 16.0278 0 24.0416 -4.9792 29.0208 a 17 17 0 0 1 0 0 c -4.9792 4.9792 -12.9931 4.9792 -29.0208 4.9792 L 34 95 c -16.0278 0 -24.0416 0 -29.0208 -4.9792 a 17 17 0 0 1 0 0 c -4.9792 -4.9792 -4.9792 -12.9931 -4.9792 -29.0208 L 0 34 c 0 -16.0278 0 -24.0416 4.9792 -29.0208 a 17 17 0 0 1 0 0 c 4.9792 -4.9792 12.9931 -4.9792 29.0208 -4.9792 Z");
  }